@font-face {
    font-family: Akronim-Regular;
    src : url("Akronim-Regular.ttf");
}
/*changing colors for labTitle*/
#labTitle {
    font-family: Akronim-Regular;
    color: rgb(100,100,100);
    font-size: 1.5cm;
}
#author {
    color: DodgerBlue;
    text-align: center;
}

#meeting {
    font-size: 2vw;
    color: #ff0000;
    border-style: double;
    border-color:blueviolet;
    border-width: 5px;
    border-radius: 5px;
}

#date {
    color: hsl(300, 32%, 8%);
    font-size: 4mm;
    position: static;
}

#attendance {
    border: .5ch solid black;
    background-color: aqua;
    font-size: 16px;
    line-height: 2em;
    min-width: 500px;
    min-height: 25px;
}

p.margin {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 500px;
    margin-right: 20px;
}

#agenda{
    margin: 10px 100px 10px 100px;
    text-decoration: underline;
    display: none;
}

#text{
    margin: auto;
}

#orderedList{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 110px;
    padding-right: 20px;
}

#names{
    padding: 10px 100px 10px 100px;
}

#longText{
    height : 75px;
    width : 50%;
    display: inline-block;
}

#promo{
    max-width: 10 px;
}

p.bold{
    display: block;
}

#audio{
    position: relative;
    left: 100px;
}

#foot{
    position: fixed;
    bottom: 0;
    right: 0;
}

#video:hover{
    background-color: blue;
}

#canvas:active{
    background-color: yellow;
}

#piazza:active{
    background-color: yellow;
}

p *{
    background-color: yellow;
}

details{
    background-color: rgb(168, 211, 196);
}

p[target=_yellow]{
    background-color: rgb(168, 211, 196);
}

h2, h3, h5{
    font-family: cursive;
}

ol li{
    font-size: 20px;
}

div > p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div ~ p{
    font-size: large;
}
div + p{
    font-style: italic;
}

p.italic{
    font-style: italic;
}